* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Mouse Memoirs', sans-serif;
	line-height: 1.0;
    background-color: #00AFB9;
    color: #F07167;
}

h1 {
    font-size: 55px;
    background-color: #FED9B7;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
}

img {
    width: 275px;
    margin: 10px;
    padding: 15px;
    background-color: #F07167;
    border-radius: 25px;
}

.titlePhoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.buttons {
    display: flex;
    justify-content: center;
  
}

.playing {
    background-color: #FED9B7;
    font-size: 40px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border-color: #0081A7;

}

#scoreboard {
    display: flex;
    justify-content: center;
}

#scoreboardUser, #scoreboardOliver {
    font-size: 40px;
    margin: 5px;
    background-color: #FED9B7;
    border-radius: 10px;
    padding: 10px;
}

button {
    margin: 5px;
    font-size: 55px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: #FED9B7;
    outline: inherit;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


